.App-header {
  text-align: center;
  height: 50px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.tile {
  background: #f6f6f6;
  display: block;
  height: 50px;
  width: 80%;
  margin: 10px;
  font-size: 16px;
  text-align: left;
}

.input {
  border: 1px solid transparent;
  background: none;
  outline: none;
  margin-top:10px;
  width: 140px;
  font-size: 16px;
}

.input:focus {
  background: white;
}

.delete-icon {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 24px;
  cursor: pointer;
  color: red;
}
.delete-icon:hover {
  color: #f60;
}

.tile:hover .delete-icon {
  visibility: visible;
}
