development:
  adapter: postgresql
  database: pa_development
  username: username
  password:

test: &test
  adapter: postgresql
  database: pa_test
  username: username
  password:

cucumber:
  <<: *test
